header {
    width: 100%;
    padding: 20px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--cor-primaria-6);
}