:root {
    --cor-primaria-1: #ffffff;
    --cor-primaria-2: #FFFFFC;
    --cor-primaria-3: #e7f4f5;
    --cor-primaria-4: #011720;
    --cor-primaria-5: #757780;
    --cor-primaria-6: #0410f3;
    --cor-primaria-7: #87F1FF;

    --cor-neutra-1: #fff;
    --cor-neutra-2: #1d1d1d;
}

header {
    width: 100%;
    padding: 20px 8%;
}

.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
   font-size: 1.5rem;
   font-weight: 600;
   color: var(--cor-primaria-6);
}

    .nav_lista {
        display: flex;
        list-style: none;
        gap: 80px;
        text-transform: uppercase;
    }

    .nav-item {
   
    font-size: 1.2rem;
    font-weight: 600;
    }

    .nav-item:hover {
        background-color: var(--cor-primaria-6);
        color: var(--cor-neutra-1);
        cursor: pointer;
        border-radius: 3px;
    }

    .nav_celular {
        display: none;
    }

    .nav_celular .ativo {
        display: block;
    }

    .btn-celular {
        display: none;
    }

